<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>weather - <%= djs.name %> (<%= djs.sys.country %>)</title>
</head>
<body>
    <h1><%= djs.name %> weather</h1>
    <table>
        <tr>
            <td>description</td>
            <td><%= djs.weather[0].main %> </td>
        </tr>
        <tr>
            <td>temperature</td>
            <td><%= (djs.main.temp - 272.15).toFixed(2) %></td>
        </tr>
    </table> 
</body>
</html>